<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if与v-for结合使用</title>
</head>
<body>
    <div id="app">
        <div v-if="a==14" v-for="(a,b,c) in obj">{{a+'---'+b+'---'+c}}</div>
    </div>

    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                obj:{
                    name:'小明',
                    age:14,
                    gender:'female'
                }
            }
        })
    </script>
</body>
</html>